.profile {
  display: flex;
  width: 120px;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
}

.boxProfile {
  position: absolute;
  width: 200px;
  height: 183px;
  border-radius: 8px;
  top: 50px;
  left: -80px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.labelProfile{
  font-size: 14px;
  font-weight: 500;
}

.valueProfile{
  font-size: 12px;
  font-weight: 300;
}